<ion-view view-title="登录">
  <ion-content class="has-header" ng-controller="LoginCtrl">
    <form ng-submit="loginForm()">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="邮箱" ng-model = "login_info.username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="密码" ng-model = "login_info.password">
        </label>
      </div>
      <button class="button button-block button-outline button-positive" type="submit">
        <i class="icon ion-power"></i> 登录
      </button>
    </form>
  </ion-content>
</ion-view>