<ion-view view-title={{repo_name}} >
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-plus-empty"></a>
    <a class="button button-icon icon ion-ios-more" ng-click="showNewActionSheet()"></a>
  </ion-nav-buttons>
  <ion-content class="has-header" >
    <ion-list>
      <div ng-repeat = "item in dirs">
        <ion-item class="item item-icon-left" ng-if="item.type == 'dir'"
          ui-sref="tab.repo-directory({repo_name: item.name, repo_id: repo_id, path: path+'/'+item.name})">
          <i class="icon ion-folder" ng-show="item.type == 'dir'"></i>
          <h2>{{item.name}}</h2>
        </ion-item>
        <ion-item class="item item-icon-left" ng-if="item.type == 'file'" on-hold="showFileActionSheet(item)"
          ui-sref="#">
          <i class="icon ion-document" ng-show="item.type == 'file'"></i>
          <h2>{{item.name}}</h2>
          <p ng-show="item.type == 'file'">{{item.size}} 字节，{{timeFormat(item.mtime)}}</p>
          <ion-option-button class="button button-assertive" ng-click="deleteFile(repo_id, path, item)">
            <i class="icon ion-trash-a"></i>
          </ion-option-button>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>

<script id="create_file.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">新建文件</h1>
    </ion-header-bar>
    <ion-content>
      <form ng-submit="createFile()">
        <label class="item item-input">
          <input type="text" placeholder="请输入文件名..." ng-model = "createInfo.filename">
        </label>
        <button class="button button-block button-outline button-positive" type="submit">
          <i class="icon ion-checkmark-round"></i> 确认
        </button>
      </form>
    </ion-content>
  </ion-modal-view>
</script>

<script id="rename_file.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">重命名</h1>
    </ion-header-bar>
    <ion-content>
      <form ng-submit="renameFile()">
        <label class="item item-input">
          <input type="text" placeholder="请输入文件名..." ng-model = "renameInfo.filename">
        </label>
        <button class="button button-block button-outline button-positive" type="submit">
          <i class="icon ion-checkmark-round"></i> 确认
        </button>
      </form>
    </ion-content>
  </ion-modal-view>
</script>