<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 资料库 -->
  <ion-tab title="资料库" icon-off="ion-filing" icon-on="ion-filing" ui-sref="tab.repo">
    <ion-nav-view name="tab-repo"></ion-nav-view>
  </ion-tab>

  <!-- 星标文件 -->
  <ion-tab title="星标文件" icon-off="ion-star" icon-on="ion-star" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- 最近修改 -->
  <ion-tab title="最近修改" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer-outline" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- 设置 -->
  <ion-tab title="设置" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- 账户 -->
  <ion-tab title="账户" icon-off="ion-person" icon-on="ion-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>